@model Sistema.APP.DTOs.MensagemDto
@{
    ViewData["Title"] = Model.Assunto;
}
<h2>@Model.Assunto</h2>
<div>
    <strong>De:</strong> @Model.RemetenteNome<br />
    <strong>Para:</strong> @Model.DestinatarioNome<br />
    <strong>Data:</strong> @Model.DataInclusao.ToLocalTime().ToString("g")
</div>
<hr />
<div>@Model.Corpo</div>
<a href="@Url.Action("Nova", new { mensagemPaiId = Model.Id, destinatarioId = Model.RemetenteId })" class="btn btn-secondary mt-3">Responder</a>
